body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* padding: 20px 0; */
    margin: 0;
    /* text-align: center; */
}

h1 {
    margin-top: 0;
}

h2 {
    margin-bottom: 0;
    font-size: 2rem;
}

span {
    border-bottom: 2px solid black;
    padding: 4px;
}

.surround {
    padding: 50px;
    background-color: rgb(161, 222, 233);
    max-width: 100vw;
    max-height: 100vh;
    border: solid black 2px;
    margin: auto;
    border-radius: 5px;
}

.working-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.number-input {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 10rem;
    text-align: center;
    margin-bottom: 2rem;
}

.calculation-grid {
    display: grid;
    grid-template: auto / 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.calculator-button {
    /* margin: 1rem; */
    color: black;
    border: 2px solid black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem;
}

.result-area {
    display: block;
    text-align: center;
}

.result-number {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(3, 52, 3);
}